%div{:id => "gist-#{params[:id]}-container"}
:css
  .gist .gist-file { font-size:12px; margin-bottom:0; }
  .gist .gist-file + .gist-file { margin-top:1em; }
  .gist .gist-file .gist-meta { font-family:helvetica,arial; font-size:12px; }
:javascript
  window.gist_write = function(str) {
    if (typeof(window.gists) == "undefined") {
      window.gists = {};
    }
    if (typeof(window.gists[#{params[:id]}]) == "undefined") {
      window.gists[#{params[:id]}] = "";
    }
    window.gists[#{params[:id]}] += str;
  };
  #{@gist_js.gsub(/document.write/, '; window.gist_write')}
  document.getElementById("gist-#{params[:id]}-container").innerHTML = window.gists[#{params[:id]}];
